.form_title{
    margin-top: $gridgutter * 2;

}
.info_title{
    display: flex;
    justify-content: flex-end;
}
.rowfields{
    padding-left: $gridgutter * 2;
}
.btnwraper{
    position: relative;
    overflow: hidden;
    & [type="file"]{
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}
.foto_container{
    width: 30%;
}