.gridrow{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    @for $i from 1 through $gridcolumns {
        .col-m#{$i} {
            box-sizing: border-box;
            width: percentage($i/$gridcolumns);
            padding-left: $gridgutter;
            padding-right: $gridgutter;
        }
        .offset-m#{$i} {
            margin-left: percentage($i/$gridcolumns);
        }
    }
    &.nogutter-m{
        @for $i from 1 through $gridcolumns {
            .col-m#{$i} {
                padding: 0;
            }
        }
    }
}