.index{
    background-image: url(../img/bg/02_LB_PADRAO.jpg);
    background-size: contain;
}
header{
    display: none;
}
.title_hpguia{
    margin: 0 0 50px 0;
}
.logo{
    margin-bottom: $gridgutter;
    width: 80%;
}
.banner, .about, .topheader_index, .footer, .title{
    display: none;
}
.guidelines{
    margin-top: 80px;
}
.info p{
    text-align: left;
}
.dbredbutton{
    margin: 100px 0;
}
.img_bottles{
    width: 100px;
    height: 100px;
    margin-bottom: $gridgutter;
}
.bottles_container{
    display: flex;
    justify-content: flex-start;
}
.footer{
    height: 175px;
}
@media (min-width: 1224px){
    .header_bg_img{
        background-image: url(../img/assets/BannerHeaderGuia.png);
        background-size: cover;
    }
    .hedear_logos{
        display: none;
    }
    .banner, .topheader_index, .footer, .title{
        display: flex;
    }
    .banner{
        flex-direction: column;
    }
    .about{
        display: flex;
        flex-direction: column;
        & article{
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
    .about_photo{
        width: 100%;
        height: 600px;
        background-image: url("../img/assets/bannerGuiAbout.png");
        background-size: cover;
    }
    header{
        display: flex;
        height: 700px;
        align-items: center;
    }
    .topheader_index{
        background-color: $yellow;
        background-size: contain;
        color: $black;
        box-shadow: 0 4px 2px -2px grey;
        padding: 10px 0;
    }
    .about_p{
        & p{
            padding-left: $gridgutter * 15;
            padding-right: $gridgutter * 15; 
            text-align: center;
        }
    }
    .guidelines{
        flex-direction: row;
    }
    .bottles_container {
        justify-content: flex-end;
    }
    .img_bottles{
        width: 140px;
        height: 140px;
    }
    .links_container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
    }
    .single_link{
        padding-right: $gridgutter * 2;
    }
    .logo_wip, .logo_lc, .logo_pdr{
        height: 100%;
    }
    .footer{
        height: auto;
    }
}