body{
    background-color: $yellow;
}
.logo{
    margin-bottom: $gridgutter;
    width: 100%;
}
.presentation{
    display: flex;
    flex-direction: column;
}
.wportugal{
    width: 70%;
    margin-top: $gridgutter * 2;
    margin-bottom: $gridgutter * 4;
}
.guidelines{
    padding-bottom: $gridgutter * 2.5;
 }
#info p{
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 1.24;
    letter-spacing: 1px;
    text-align: left;
    color: $black;
}

.letsgo{
    justify-content: center;
    display: flex;
}
.bletsgo{
    margin: $gridgutter * 2 0;
    width: 80%;
    height: 60px;
}
