html{
    //background-color: $yellow;
    background-image: url(../img/bg/02_LB_PADRAO.jpg);
    background-size: cover;

}
.logo{
    margin-bottom: $gridgutter;
}
.presentation{
    display: flex;
    flex-direction: column;
}
.wportugal{
    width: 70%;
    margin-top: $gridgutter * 2;
    margin-bottom: $gridgutter * 4;
}
.guidelines{
   margin-top: $gridgutter * 3;
   margin-left: $gridgutter;
    &:first-of-type{
       margin-top: 0;
    }
 }
#info p{
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 1.24;
    letter-spacing: 1px;
    text-align: left;
    color: $black;
}
.letsgo{
    justify-content: center;
    display: flex;
}
#bletsgo{
    margin-top: $gridgutter * 2;
    width: 80%;
    height: 60px;
}