.nameinfo{
    margin-top: $gridgutter;
    justify-content: center;
}
.profilename{
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
}
.profileimg{
    margin-top: $gridgutter;
    border-radius: 50%;
    width: 250px;
    height: 250px;

}
.stars{
    width: $gridgutter;
    height: $gridgutter;
}
.reviews{
    margin: $gridgutter;
}
.about_profile{
    margin-left: $gridgutter;
    margin-right: $gridgutter;
}
.about_profile h2{
    justify-content: flex-start;
}

.reviews, #reviewsdetails{
    flex-direction: column;
}
.reviews_title{
    justify-content: flex-start;
}
.reviewphoto{
    margin-bottom: $gridgutter;
    border-radius: 50%;
    width: 150px;
    height: 150px;;
}
.details{
    padding-left: 0;
}
.reviewername{
    padding-bottom: $gridgutter;
    padding-top: $gridgutter / 2;
}
.reviews_container{
    flex-direction: column;
    padding-bottom: $gridgutter;
    padding-top: $gridgutter;
    box-shadow: 0px 1px rgba(182, 182, 182, 0.75)
}
.topheader_index_profile{
    background-color: $yellow;
    background-size: contain;
    color: $black;
    box-shadow: 0 4px 2px -2px grey;
    padding: 10px 0;
} 
.information ul{
    padding: 20px;
}
.button_profile{
    display: none;
}
@media (min-width: 1224px){
    .profilename{
        margin-bottom: $gridgutter;
    }
    .numreviews{
        margin-top: $gridgutter;
    }
    .personalinfo{
        flex-direction: row;
    }
    .information ul {
        padding: 0;
    }

    .about_profile{
     & h3{
        justify-content: flex-start;
        margin: 30px 20px;
    }
    }
    .separator{
        border-left: 2px solid #dd052b;
        padding-left: 20px;
    }   
    .reviews{
        margin-top: 60px;
    }
    .reviews_container{
        flex-direction: row;
    }
    .reviews_title{
        padding: 70px 0;
    }
    .sticky_bottom{
        padding: 0;
    }
    .button_profile{
        display: flex;
    }
    .button_bottom{
        display: none;
    }
   
}