.sticky_header{
    position: sticky;
    box-sizing: border-box;
    top:0;
    z-index: 1;
}
.sticky_info{
    position: initial;
    box-sizing: border-box;
    align-self: center;
}
.sticky_bottom{
    position: sticky;
    bottom: 15px;
}
.menu{
    width: $gridgutter * 1.5 !important;
}
.menucontainer{
    display: flex;
}
.textcenter{
    text-align: center;
}
.contentcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignleft{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bold{
    font-weight: bolder;
}
.lighter{
    font-family: prolightlbfont;
    font-size: 12px;
}
.red{
    color: $red;
}
.yellowbg{
    background-color: $yellow;
}
li{
    font-family: HelveticaNeue;
    list-style-type: none;
    margin-top: $gridgutter / 2;
}
p, ul{
    margin: 0;
    font-family: HelveticaNeue;
    line-height: $gridgutter * 1.5;
    font-size: 15px;
    letter-spacing: 2px;
    color: $black;
}
h1{
    font-size: 70px;
    font-family: condboldlbfont;
    font-weight: bolder;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: proboldlbfont;
    line-height: 1.17;
    color: $red;
    margin-top: $gridgutter;
}
h3{
    font-size: 15px;
    font-family: proboldlbfont;
    font-weight: bolder;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h4{
    margin: 0;
    margin-bottom: $gridgutter / 2;
    font-size: $gridgutter;
    font-family: proboldlbfont;
    font-weight: bolder;
    line-height: 1.17;
}
.button{
    text-transform: uppercase;
    font-weight: bolder;
    background-color: $red;
    border: solid 1px $red;
    border-radius: 4px;
    box-shadow: 2px 2px 20px grey;
    color: white;
    font-family: proboldlbfont;
    height: $gridgutter * 2.5;
    cursor: pointer;
    &:hover, &:focus {
        background-color: $yellow;
        color: $red;
        box-shadow: none;
        outline: 0;
    }
}
.yellowbutton{
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #fbd12b;
    border: solid 2px #dd052b;
    box-shadow: 2px 2px 2px grey;
    color: #dd052b;
    font-family: proboldlbfont;
    font-size: 10px;
    &:hover, &:focus {
        background-color: $red;
        color: $yellow;
    }
}

.button_upload{
    display: flex;
    height: 20px;
    max-width: 150px;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: white;
    border: solid 2px grey;
    box-shadow: 0px 2px 2px grey;
    color: grey;
    font-family: proboldlbfont;
    font-size: 15px;
    &:hover, &:focus {
        background-color: lightgrey;
        box-shadow: none;
        outline: 0;
    }
}
input:focus:required:invalid{
    border: solid 3px red;
    box-shadow: 0 -4px 2px -2px red;
}
textarea:focus:required:invalid{
    border: solid 3px red;
    box-shadow: 0 -4px 2px -2px red;
}
.submit_button{
    margin: 50px 0;
}
.hidden{
    display: none;
}
.topheader{
    background-color: $yellow;
    background-size: contain;
    color: $black;
    box-shadow: 0 4px 2px -2px grey;
    padding: 10px 0;
}
.link{
    font-family: HelveticaNeue;
    color: $black;
    padding-right: $gridgutter * 2;
    &:link,:visited,:active {
        text-decoration: none;
    }
    &:hover {
    text-decoration: underline;
  }
}
img{
    width: 100%;
}
.rspad{
    padding: 10px;
}
.bggrey{
    background-color: $grey;
}
.bgblack{
    background-color: $black;
}
.redessocias{
    height: 175px;
    border-bottom: 4px solid $yellow;
}
@media (min-width: 1224px){
    .sticky_info{
        position: sticky;
        box-sizing: border-box;
        align-self: flex-start;
        top:150px;
    }
    .yellowbutton{
        font-size: 20px;
        
    }
    h2{
        font-size: $gridgutter + 5;
        margin-top: $gridgutter * 3;
        color: $red;
        &:before,
        &:after {
            content: '';
            border-top: 2px solid;
            margin: 0px 20px 0px 60px;
            flex: 1 0 20px;
        }
        &:after {
            margin: 0px 60px 0px 20px;
        }
    }
    h3{
        font-size: $gridgutter;
        margin: 0;
    }
    .button_upload{
        height: $gridgutter * 2.5;
    }
}