.textcenter{
    text-align: center;
}
.contentcenter{
    display: flex;
    justify-content: center;
}
p{
    margin: 0;
}
h3{
    font-size: 12px;
    font-family: prolightlbfont;
    font-weight: bolder;
    line-height: 1.17;
    text-transform: uppercase;
    margin: 0;
}
h4{
    margin: 0;
    font-size: 17px;
    font-family: proboldlbfont;
    font-weight: bolder;
    line-height: 1.17;
}
button{
    text-transform: uppercase;
    font-weight: bolder;
    background-color: $red;
    border: solid 1px $red;
    border-radius: $gridgutter / 2;
    box-shadow: 2px 2px 20px grey;
    color: white;
    font-family: proboldlbfont;
    &:active {
        background-color: $redopacity;
    }   
}