.sticky{
    position: sticky;
    top: 0;
    box-sizing: border-box;
}
.sticky_bottom{
    position: sticky;
    bottom: 0;
    padding: $gridgutter;
}
.menu{
    width: $gridgutter * 1.5 !important;
}
.menucontainer, .buttoncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textcenter{
    text-align: center;
}
.contentcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignleft{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bold{
    font-weight: bolder;
}
li{
    font-family: HelveticaNeue;
    list-style-type: none;
    margin-top: $gridgutter / 2;
}
p{
    margin: 0;
    font-family: HelveticaNeue;
    line-height: $gridgutter * 1.5;
    font-size: $gridgutter;
}
h1{
    font-size: 70px;
    font-family: condboldlbfont;
    font-weight: bolder;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $gridgutter * 1.5;
    font-family: proboldlbfont;
    line-height: 1.17;
    color: $red;
    margin-top: $gridgutter * 8;
    &:before,
    &:after {
        content: '';
        border-top: 2px solid;
        margin: 0px 20px 0px 60px;
        flex: 1 0 20px;
    }
    &:after {
        margin: 0px 60px 0px 20px;
    }
}
h3{
    font-size: 12px;
    font-family: prolightlbfont;
    font-weight: bolder;
    line-height: 1.17;
    text-transform: uppercase;
    margin: 0;
}
h4{
    margin: 0;
    font-size: 17px;
    font-family: proboldlbfont;
    font-weight: bolder;
    line-height: 1.17;
}
button{
    text-transform: uppercase;
    font-weight: bolder;
    background-color: $red;
    border: solid 1px $red;
    border-radius: $gridgutter / 2;
    box-shadow: 2px 2px 20px grey;
    color: white;
    font-family: proboldlbfont;
    margin: 40px 0;
    width: 25%;
    height: 60px;
    font-size: 20px;
    &:active {
        background-color: $redactivebutton;
        box-shadow: none;
        outline: 0;
    }&:focus {
        box-shadow: none;
        outline: 0;
    }
}
.yellowbutton{
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #fbd12b;
    border: solid 2px #dd052b;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    color: #dd052b;
    font-family: proboldlbfont;
    width: 90%;
    height: 70%;
    font-size: 20px;
    &:active {
        box-shadow: none;
        outline: 0;
    }&:focus {
        box-shadow: none;
        outline: 0;
    }
}
.topheader{
    background-color: $yellow;
    background-size: contain;
    color: $black;
    box-shadow: 0 4px 2px -2px black;
}
a{
    font-family: HelveticaNeue;
    color: $black;
    &:link,:visited,:active {
        text-decoration: none;
    }
    &:hover {
    text-decoration: underline;
  }
}
@media (min-width: 1224px){
    
}